{% extends "WalvaNatagoraBundle:Eleve:layout.html.twig" %}

{% block body -%}
    <h1>Eleve creation</h1>

    <form action="{{ path('eleve_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" name="submit" type="submit" value="show">Create and show</button>
            <button class="btn btn-primary" name="submit" type="submit" value="list">Create and go to the list</button>
            <button class="btn btn-primary" name="submit" type="submit" value="create">Create and create an other entry</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('eleve') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
