{% extends "WalvaNatagoraBundle:User:layout.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li>Profil </li>

{% endblock %}

{% block body -%}
    <h1>Votre profil</h1>
    <hr/>

    {{ form(form) }}


{% endblock %}
